# Ambiente virtual

venv/
.env/
.env.*

# Cache do Python

**pycache**/
*.pyc
*.pyo
*.pyd

# Arquivos do sistema

.DS_Store
Thumbs.db

# VS Code

.vscode/

# Arquivos temporários

*.log
*.sqlite3

# Arquivos de build

dist/
build/
