{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Calcular Gorjeta</h2>

<form method="POST">

    <div class="mb-3">
        <label class="form-label">Valor da conta</label>
        <input type="number" name="conta" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Quantidade de pessoas</label>
        <input type="number" name="pessoas" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Gorjeta (%)</label>
        <input type="number" name="gorjeta" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Calcular</button>

</form>

{% endblock %}